<div class="top-bar">
  <div class="logo">ZenduForms</div>
  <ul class="nav">
    <li>
      <a href="#">
        <img [src]="FormsLogo" alt="Logo" class="logo-icon" />
        Forms
      </a>
    </li>
    <li>
      <a href="#">
        <img [src]="CustomerLogo" alt="Logo" class="logo-icon" />
        Customers
      </a>
    </li>
    <li>
      <a href="#">
        <img [src]="SubmissionLogo" alt="Logo" class="logo-icon" />
        Submissions
      </a>
    </li>
    <li>
      <a href="#">
        <img [src]="HistoryLogo" alt="Logo" class="logo-icon" />
        History
      </a>
    </li>
    <li>
      <a href="#">
        <img [src]="ReportsLogo" alt="Logo" class="logo-icon" />
        Reports
      </a>
    </li>
    <li>
      <a href="#">
        <img [src]="WorkflowLogo" alt="Logo" class="logo-icon" />
        Workflow
      </a>
    </li>
  </ul>
  <div class="logo-group">
    <a href="#">
      <img [src]="BellLogo" alt="Bell Logo" class="logo-icon" />
    </a>
    <a href="#">
      <img [src]="ExitLogo" alt="Exit Logo" class="logo-icon" />
    </a>
  </div>
</div>
